body {
    background-color: #0e0457;
}

#landing-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 25vh;
}

#landing-header h1 {
    color: #e1e8f0;
    font-size: 150px;
}

.btn {
    background-color: #0badb3;
    color: #e1e8f0;
}
