/* Will need to re-order this by specificity at some point */

/* ===================== */
/* views/partials/header.ejs */
/* ===================== */

body {
    background-color: white;
}

.alert {
    margin-top: 10px;
}

.row {
    margin-top: 10px;
}

.navbar {
    background-color: #0e0457;
}

.navbar-brand {
    color: white;
}

.navbar-dark .navbar-nav .nav-link{
    color: white;
}

h1 {
    color: #0e0457; 
}


/* ===================== */
/* views/chats/index.ejs */
/* ===================== */

#table {
    height: 520px;
    overflow: scroll;
    background-color: white;
}

thead {
    background-color: #0e0457;
    color: white;
}

h3 {
    color: #0e0457;
    margin-top: 10px;
}


/* ===================== */
/* views/chats/show.ejs */
/* ===================== */

.delete-form {
    display: inline;
}

#del-com {
    margin-bottom: 5px;
}

.form-inline {
    padding-bottom: 20px;
}

ul {
    list-style: none;
    margin-left: 15px;
    padding: 0;
    flex-wrap: wrap;
}

span {
    margin-right: 0px;
    text-align: center;
    height: 3px;
    width: 0;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}

li:hover span{
    width: 45px;
    opacity: 1.0;
}

.well {
    height: 500px;
    width: auto;
    overflow: scroll;
}

input {
    margin-top: 10px;
    margin-right: 5px;
}

.btn-primary {
    margin-top: 10px;
}

/* ===================== */
/* views/chats/new.ejs */
/* ===================== */

#new_chat {
    width: 50%;
    margin: 25px auto;
}

#new_chat h1 {
    text-decoration: underline;
}

#new_chat form {
    margin-top: 30px;
}


/* ===================== */
/* views/chats/edit.ejs */
/* ===================== */

#edit_chat {
    width: 50%;
    margin: 25px auto;
}
