/* Will need to re-order this by specificity at some point */

body {
    background-color: white;
}

.delete-form {
    display: inline;
}

#del-com {
    margin-bottom: 5px;
    /* display: none; */
}

.form-inline {
    padding-bottom: 20px;
}

ul {
    list-style: none;
    margin-left: 15px;
    padding: 0;
    flex-wrap: wrap;
}

/* ul li {
    padding-left: 5px;
} */

span {
    margin-right: 0px;
    text-align: center;
    height: 3px;
    width: 0;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}

li:hover span{
    width: 45px;
    opacity: 1.0;
}

.alert {
    margin-top: 10px;
}

.row {
    margin-top: 10px;
}

.navbar {
    background-color: black;
}

.navbar-brand {
    color: #feffff;
}

li a {
    color: #feffff;
}

#table {
    height: 520px;
    overflow: scroll;
    background-color: white;
}

.well {
    height: 500px;
    width: auto;
    overflow: scroll;
}

input {
    margin-right: 5px;
}