<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to DarChat!</h1>
            <p>
                <a class="primary btn-primary btn-lg" href="/chats/new">Add New Chat</a>
            </p>
        </div>
    </header>

    <div class="row">
        <div class="col-lg-12">
            <h3>Available Chats</h3>
        </div>
    </div>

    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% chats.forEach(function(chat) { %>
            <div class="col-md-3 col-sm-6">
                <a href="/chats/<%=chat._id %>" class="btn btn-primary"><%= chat.name %></a>
            </div>
        <% }) %>
    </div>
</div>



<% include ../partials/footer %>